Nama : Afifah Nibras

NPM : 2108107010097

Link Dataset : https://www.kaggle.com/datasets/meruvulikith/campus-selection-classification-dataset

Dataset tersebut mempunyai 14 kolom yaitu sl_no	gender,	ssc_p,	ssc_b,	hsc_p,	hsc_b,	hsc_s,	degree_p,	degree_t,	workex,	etest_p,	specialisation	mba_p, dan	status. Namun saya tidak mengambil semua kolom tersebut. Saya menentukan kolom ssc_p dan kolom hsc_p sebagai fitur. Dan untuk label saya mengambil kolom status. Darisitu saya melakukan klasifikasi status mahasiswa yang menjadi kandidat mendapatkan posisi atau tidak berdasarkan persentase skor pada pendidikan menengah dan pendidikan menengah tinggi.

In [2]:
# Import library yang diperlukan

import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder 
from sklearn.compose import ColumnTransformer 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler 
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense 
from sklearn.model_selection import train_test_split 
import pandas as pd 
from sklearn.metrics import classification_report

In [3]:
# Memasukkan dataset
data = pd.read_csv('Campus_Selection.csv')

In [4]:
# Membaca dataset
data

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed

In [5]:
# Menghapus kolom yang tidak diperlukan
data = data.drop(columns=['sl_no', 'gender', 'ssc_b', 'hsc_b', 'degree_t', 'workex', 'specialisation'])

In [6]:
# Menampilkan kolom apa saja setelah dihapus beberapa kolom
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ssc_p     215 non-null    float64
 1   hsc_p     215 non-null    float64
 2   hsc_s     215 non-null    object
 3   degree_p  215 non-null    float64
 4   etest_p   215 non-null    float64
 5   mba_p     215 non-null    float64
 6   status    215 non-null    object
dtypes: float64(5), object(2)
memory usage: 11.9+ KB

In [7]:
# Melakukan encoding
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

data['status'] = label_encoder.fit_transform(data['status'])

In [8]:
# Menentukan fitur dan target
X = data.iloc[:, [0, 1]].values
y = data.iloc[:, 6].values

In [9]:
# Membagi dataset menjadi training dan testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [10]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [11]:
# Membangun model
model_ann = Sequential()                          
model_ann.add(Dense(units=6, activation="relu"))  
model_ann.add(Dense(units=6, activation="relu"))  
model_ann.add(Dense(units=1))

In [12]:
# Mengompilasi model 
model_ann.compile(optimizer="adam",loss="mean_squared_error")

In [13]:
# Melatih model
from tensorflow.keras.callbacks import EarlyStopping
model_ann.fit(x=X_train, y=y_train, epochs=40, batch_size=32,validation_data=(X_test,y_test),callbacks=EarlyStopping(monitor='val_loss',patience=4))

Epoch 1/40

6/6 [==============================] - 1s 34ms/step - loss: 1.1639 - val_loss: 1.2122
Epoch 2/40
6/6 [==============================] - 0s 9ms/step - loss: 1.1107 - val_loss: 1.1592
Epoch 3/40
6/6 [==============================] - 0s 9ms/step - loss: 1.0662 - val_loss: 1.1125
Epoch 4/40
6/6 [==============================] - 0s 9ms/step - loss: 1.0250 - val_loss: 1.0705
Epoch 5/40
6/6 [==============================] - 0s 6ms/step - loss: 0.9872 - val_loss: 1.0291
Epoch 6/40
6/6 [==============================] - 0s 6ms/step - loss: 0.9501 - val_loss: 0.9926
Epoch 7/40
6/6 [==============================] - 0s 6ms/step - loss: 0.9186 - val_loss: 0.9598
Epoch 8/40
6/6 [==============================] - 0s 6ms/step - loss: 0.8895 - val_loss: 0.9289
Epoch 9/40
6/6 [==============================] - 0s 10ms/step - loss: 0.8627 - val_loss: 0.9000
Epoch 10/40
6/6 [==============================] - 0s 7ms/step - loss: 0.8371 - val_loss: 0.8739
Epoch 11/40
6/6 [==============================] - 0s 9ms/step - loss: 0.8136 - val_loss: 0.8481
Epoch 12/40
6/6 [==============================] - 0s 9ms/step - loss: 0.7900 - val_loss: 0.8227
Epoch 13/40
6/6 [==============================] - 0s 6ms/step - loss: 0.7685 - val_loss: 0.8003
Epoch 14/40
6/6 [==============================] - 0s 15ms/step - loss: 0.7485 - val_loss: 0.7785
Epoch 15/40
6/6 [==============================] - 0s 10ms/step - loss: 0.7295 - val_loss: 0.7592
Epoch 16/40
6/6 [==============================] - 0s 12ms/step - loss: 0.7113 - val_loss: 0.7400
Epoch 17/40
6/6 [==============================] - 0s 12ms/step - loss: 0.6930 - val_loss: 0.7206
Epoch 18/40
6/6 [==============================] - 0s 10ms/step - loss: 0.6760 - val_loss: 0.7031
Epoch 19/40
6/6 [==============================] - 0s 11ms/step - loss: 0.6609 - val_loss: 0.6866
Epoch 20/40
6/6 [==============================] - 0s 11ms/step - loss: 0.6456 - val_loss: 0.6714
Epoch 21/40
6/6 [==============================] - 0s 11ms/step - loss: 0.6325 - val_loss: 0.6574
Epoch 22/40
6/6 [==============================] - 0s 13ms/step - loss: 0.6206 - val_loss: 0.6436
Epoch 23/40
6/6 [==============================] - 0s 10ms/step - loss: 0.6078 - val_loss: 0.6303
Epoch 24/40
6/6 [==============================] - 0s 10ms/step - loss: 0.5962 - val_loss: 0.6178
Epoch 25/40
6/6 [==============================] - 0s 8ms/step - loss: 0.5851 - val_loss: 0.6058
Epoch 26/40
6/6 [==============================] - 0s 9ms/step - loss: 0.5744 - val_loss: 0.5935
Epoch 27/40
6/6 [==============================] - 0s 12ms/step - loss: 0.5631 - val_loss: 0.5815
Epoch 28/40
6/6 [==============================] - 0s 8ms/step - loss: 0.5534 - val_loss: 0.5711
Epoch 29/40
6/6 [==============================] - 0s 22ms/step - loss: 0.5444 - val_loss: 0.5617
Epoch 30/40
6/6 [==============================] - 0s 6ms/step - loss: 0.5361 - val_loss: 0.5523
Epoch 31/40
6/6 [==============================] - 0s 12ms/step - loss: 0.5276 - val_loss: 0.5432
Epoch 32/40
6/6 [==============================] - 0s 12ms/step - loss: 0.5195 - val_loss: 0.5347
Epoch 33/40
6/6 [==============================] - 0s 12ms/step - loss: 0.5120 - val_loss: 0.5256
Epoch 34/40
6/6 [==============================] - 0s 12ms/step - loss: 0.5042 - val_loss: 0.5175
Epoch 35/40
6/6 [==============================] - 0s 11ms/step - loss: 0.4970 - val_loss: 0.5100
Epoch 36/40
6/6 [==============================] - 0s 10ms/step - loss: 0.4904 - val_loss: 0.5023
Epoch 37/40
6/6 [==============================] - 0s 10ms/step - loss: 0.4836 - val_loss: 0.4948
Epoch 38/40
6/6 [==============================] - 0s 11ms/step - loss: 0.4768 - val_loss: 0.4881
Epoch 39/40
6/6 [==============================] - 0s 10ms/step - loss: 0.4705 - val_loss: 0.4812
Epoch 40/40
6/6 [==============================] - 0s 12ms/step - loss: 0.4644 - val_loss: 0.4749

In [18]:
# Evaluate the model
y_pred = model_ann.predict(X_test)

2/2 [==============================] - 0s 0s/step

In [ ]:
# Melakukan prediksi pada data test
y_pred_test = model_ann.predict(X_test)
y_pred_classes_test = np.argmax(y_pred_test, axis=1)

# Mengonversi label yang sudah diencode kembali ke label aslinya untuk data test
y_test_orig = label_encoder.inverse_transform(y_test)
y_pred_orig_test = label_encoder.inverse_transform(y_pred_classes_test)

# Membuat classification report untuk data test
report_test = classification_report(y_test_orig, y_pred_orig_test, output_dict=True)

# Mengonversi classification report ke dalam bentuk DataFrame
df_report_test = pd.DataFrame(report_test).transpose()

# Mencetak classification report untuk data test
print("Classification Report for Test Data:")
print(df_report_test)

2/2 [==============================] - 0s 0s/step
Classification Report for Test Data:
              precision    recall  f1-score    support
0              0.314815  1.000000  0.478873  17.000000
1              0.000000  0.000000  0.000000  37.000000
accuracy       0.314815  0.314815  0.314815   0.314815
macro avg      0.157407  0.500000  0.239437  54.000000
weighted avg   0.099108  0.314815  0.150756  54.000000

c:\Users\USER DK\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER DK\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER DK\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))